.footer {
  display: flex;
  flex-direction: column;
  text-align:center;
  padding-block-end: 16px;
}

.footer * {
  margin: 0;
}

.footer p {
  color: var(--white);
  font: var(--body1);
  margin-block-end: 8px;
}

.footer .caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption img {
  padding-inline: 5px;
}