.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  block-size: 80px;
  width: 100%;
  z-index: 999;
}

.header nav {
  display: none;
}

.header .button:hover {
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .header nav {
    display: inline-block;
  }
  .header ul {
    list-style: none;
    display: flex;
    justify-content: space-between
  }
  .header a {
    text-decoration: none;
    color: var(--white);
    font: var(--button);
    padding-inline: 20px;
  }
  .header a:hover {
    color: var(--purple);
    font: var(--button);
    padding-inline: 20px;
  }
}

