.comment {
  text-align: center;
  padding-block-start: 40px;
  padding-block-end: 80px;
}

.comment p {
  display: flex;
  flex-direction:column;
  gap: 24px;
}

.comment span {
  font: var(--headline5);
  display: block;
}
.comment span:nth-child(1) {
  font-weight: normal;
}