.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 40px;
}

.project-description * {
  margin: 0;
}

.project-description .project-title {
  background-color:var(--purple);
  color: white;
  font: var(--headline5);
  align-self: flex-start;
  padding-inline: 8px;
  padding-block: 4px;
  box-shadow: -4px 4px 0px #FFFFFF;
}

.project-description .button.secondary {
  margin-block-start: 8px;
}

.project-description .button {
  text-align: center;
  text-decoration:none;
}
