.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 40px;
}

.project-description * {
  margin: 0;
}

.project-description .button.secondary {
  margin-block-start: 8px;
}

.project-description .button {
  text-align: center;
  text-decoration:none;
}
